body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    height: fit-content;
    padding: 10px;
}

.inc-out {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.table-scrollable {
    overflow-y: auto;
    display: block;
    max-height: 400px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    
}

thead {
    position: sticky;
    top: 0;
    z-index: 10;
}

.incomings {
    padding: 10px;
}

.outgoings {
    padding: 10px;
}

.goal-loan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goals {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.target {
    display: flex;
    justify-content: center;
    align-items: center;
}

.t-goal {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.loans {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.t-loan {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vh;
    padding: 10px;
}

span {
    text-transform: uppercase;
}

label {
    margin-top: 2px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: 50px;
    width: 100vw;

}